@using ShareCode.Models;
@model tblUser 
@{
    ViewBag.Title = "Chào " + Model.User_DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider-area slider-area2" style="height: 345px;">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2" style="padding-top: 164px;">
                            <h1 data-animation="bounceIn" data-delay="0.2s">@ViewBag.title</h1>
                            <!-- breadcrumb Start-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="@Url.Action("","")">Trang chủ</a></li>
                                    <li class="breadcrumb-item"><a href="#">Trang cá nhân của @Model.User_DisplayName</a></li>
                                </ol>
                            </nav>
                            <!-- breadcrumb End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if(Session["notifi_resetpass"] != null)
{
    <div class="alert alert-success">
        <span>@Session["notifi_resetpass"]</span>
    </div>
    Session["notifi_resetpass"] = null;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            @if (Model.User_Phone == null || Model.User_Avata == null)
            {
                <div class="alert alert-success">Thông tin cá nhân của bạn chưa cập nhật Số điện thoại, vui lòng cập nhật Số điện thoại <a href="#" class="text-danger">TẠI ĐÂY</a> !</div>
            }
        </div>
        <div class="col-lg-8">
            <div class="alert alert-danger">
                <h3 class="font-weight-bold">Thông tin cá nhân</h3>
            </div>

            <div class="container">
                <ul>
                    <li><b>Email đăng ký:</b> <b class="text-danger" style="float: right">@Model.User_Email</b> </li>
                    <li><b>Họ và tên:</b> <b class="text-danger" style="float: right">Chưa có</b> </li>
                    <li><b>Tên hiển thị:</b> <b class="text-danger" style="float: right">@Model.User_DisplayName</b> </li>
                    <li><b>Email TK ngân lượng:</b> <b class="text-danger" style="float: right">Chưa có</b> </li>
                    <li><b>Số điện thoại:</b> <b class="text-danger" style="float: right">@Model.User_Phone</b> </li>
                    <hr />
                    <li><b>Ảnh:</b> <b class="text-danger" style="float: right"><img src="~/Content/Layout/img/users/@Model.User_Avata" style="width: 60px; height: 60px" /></b> </li>
                    <br />
                    <hr />
                    <li><b>Yêu thích:</b> <b class="text-danger" style="float: right">@Model.tblFavorites.Count() yêu thích</b> </li>
                    <li><b>Bình luận:</b> <b class="text-danger" style="float: right">@Model.tblComments.Count() bình luận</b> </li>
                    <li><b>Trả lời bình luận:</b> <b class="text-danger" style="float: right">@Model.tblRepplies.Count() trả lời bình luận</b> </li>
                    <hr />
                    <li><b>Đăng nhập gần đây:</b> <b class="text-danger" style="float: right">@Model.User_DateLogin.Value.ToLongDateString()</b> </li>
                    <hr />
                    <li><button class="ui red button"><i class="fa fa-cog">&nbsp;</i>Cài đặt thông tin</button></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            @Html.Action("InfoRight", "View")
        </div>
    </div>
</div>