@using ShareCode.Models;
@model ShareCode.Models.tblPost

@{
    ViewBag.Title = Model.Post_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> mulImage = Model.Post_ViewMoreImage.Split(';').ToList();
    tblUser user = new tblUser();
    if (Session["member"] != null)
    {
        user = (tblUser)Session["member"];
    }
    int coin = (int)Model.Post_Price;
    DBShareCodeEntities db = new DBShareCodeEntities();
}

<section class="slider-area slider-area2" style="height: 345px;">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                            <h3 data-animation="bounceIn" data-delay="0.2s">
                                <div class="ui search">
                                    <div class="ui icon input w-100">
                                        <input class="prompt" type="text" placeholder="Nhập từ khóa...">
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    <img src="~/Content/Layout/img/post/@Model.Post_Avata" class="w-100 border border-primary" />
                    <br />
                    <div class="row" style="padding-bottom: 10px">
                        @foreach (var img in mulImage)
                        {
                            <div class="col-md-4">
                                <img src="~/Content/Layout/img/post/@img" style="width: 100%; height: 50px" />
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-9">
                    <b>@Model.Post_Title <b class="text-danger">[Mã code: #@Model.Post_Code]</b></b>
                    <div class="row">
                        <div class="col-lg-8">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            @Model.Post_Vote Đánh giá
                            <i class="fa fa-edit">&nbsp;</i>Viết đánh giá
                        </div>
                        <div class="col-lg-4">
                            <i class="fa fa-eye">&nbsp;</i>@Model.Post_View
                            <i class="fa fa-download" id="newCountDownLoad">&nbsp;@Model.Post_CountDownLoad</i>
                            <i class="fa fa-heart" id="newCountFavorite">&nbsp;@Model.Post_Favorite</i>
                        </div>
                        <div class="col-lg-12">
                            <hr />
                            <div class="row">
                                <div class="col-lg-8">
                                    <h3 class="font-weight-bold"><b class="text-danger">Phí tải: </b>@coin xu <span style="color: gray; font-size: 15px">(1 xu = 2.000 vnđ)</span></h3>
                                </div>
                                <div class="col-lg-4" id="favorite">
                                    @if (user.User_ID == Model.Post_User)
                                    {
                                        <button class="ui red button float-right"><i class="fa fa-comments">&nbsp;</i>Xem bình luận</button>
                                    }
                                    else
                                    {
                                        if (Session["member"] != null)
                                        {
                                            Boolean checkfavorite = db.tblFavorites.FirstOrDefault(t => t.Favorite_User == user.User_ID && t.Favorite_Post == Model.Post_ID) != null;
                                            if (checkfavorite)
                                            {
                                                <button class="ui red button float-right" id="removefavorite"><i class="fa fa-heart">&nbsp;</i>Hủy yêu thích code</button>
                                            }
                                            else
                                            {
                                                <button class="ui red button float-right" id="addfavorite"><i class="fa fa-heart">&nbsp;</i>Thích code</button>
                                            }
                                        }
                                        else
                                        {
                                            <button data-toggle="modal" data-target="#login" class="ui red button float-right"><i class="fa fa-heart">&nbsp;</i>Thích code</button>
                                        }
                                    }
                                </div>
                                <hr />
                                <div class="col-lg-8">
                                    <ul>
                                        <li><b>Danh mục:</b><a href="@Url.Action("FilterPostsByCatID", "Posts", new { id = Model.Post_Cat})" style="color: red">@Model.tblCategory.Cat_Name</a></li>
                                        <li><b>Thể loại:</b><a href="@Url.Action("FilterPostsByGenresID", "Posts", new { id = Model.Post_Genres})" style="color: red">@Model.tblGenre.Genres_Name</a></li>
                                        <li><b>Nhóm code:</b><a href="@Url.Action("FilterPostsByGroupCodeID", "Posts", new { id = Model.Post_Group})" style="color: red">@Model.tblGroupCode.Group_Name</a></li>
                                        <li><b>Ngày đăng:</b>@Model.Post_DateCreate.Value.ToLongDateString()</li>
                                        <li><b>Dung lượng:</b>Chưa có</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    @if (user.User_ID == Model.Post_User)
                                    {
                                        <button class="ui green button float-right w-100 mt-2"><i class="fa fa-edit">&nbsp;</i>Chỉnh sửa</button>
                                    }
                                    else
                                    {
                                        if (Session["member"] != null)
                                        {
                                            <button id="download" class="ui green button float-right w-100 mt-2" onclick="window.location.href='#dow'"><i class="fa fa-download">&nbsp;</i>Download</button>
                                        }
                                        else
                                        {
                                            <button onclick="window.location.href='#dow'" class="ui green button float-right w-100 mt-2"><i class="fa fa-download">&nbsp;</i>Download</button>
                                        }
                                        <button class="ui gray button float-right w-100 mt-2"><i class="fa fa-desktop">&nbsp;</i>Demo</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="ui two column grid">
                        <div class="column  w-100">
                            <div class="ui raised segment">
                                <a class="ui red ribbon label">Mô tả chi tiết</a>
                                <br />
                                @Html.Raw(Model.Post_Description)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-4" id="dow">
                    <div class="ui two column grid">
                        <div class="column  w-100">
                            <div class="ui raised segment">
                                <a class="ui green ribbon label">Hướng dẫn cài đặt</a>
                                <br />
                                @Html.Raw(Model.Post_TutorialSetup)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="section-top-border">
                        <h3 class="mb-30">DOWNLOAD</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote class="generic-blockquote">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <i class="fa fa-file-archive">&nbsp;</i> <b style="color: brown">filetai.zip (45MB)</b>
                                            <br />
                                            <i class="fa fa-check text-success"></i>Đã được kiểm duyệt
                                            <br />
                                            <br />
                                            <br />
                                            <a href="#" style="color: red; font-weight: bold"><i class="fas fa-exclamation">&nbsp;</i>Báo cáo</a>
                                            <a href="#" style="color: red; font-weight: bold"><i class="fas fa-exclamation-triangle">&nbsp;</i>Lỗi</a>
                                        </div>
                                        <div class="col-lg-4">
                                            <center><b class="text-center">Pass giải nén: Không</b></center>
                                            <button class="ui red button mt-1" style="font-size: 20px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD <br /> (0 XU)</button>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- comment content -->
                <div class="col-lg-12">
                    <div class="comments-area">
                        <h4>05 Comments</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="~/Content/Layout/img/blog/comment_1.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="~/Content/Layout/img/blog/comment_1.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="~/Content/Layout/img/blog/comment_1.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h4>Trả lời bình luận</h4>
                            <form class="form-contact comment_form" action="#" id="commentForm">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                                      placeholder="Write Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- //comment content -->
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div style="padding: 10px">
                            <b>Người bán</b>
                            <div class="row mt-2">
                                <div class="col-lg-6">
                                    <img src="~/Images/User/man-300x300.png" class="w-100" />
                                </div>
                                <div class="col-lg-6">
                                    <b class="text-danger">@Model.tblUser.User_DisplayName</b>
                                    <ul>
                                        <li><b>Free:</b> @ViewBag.countPostsFree</li>
                                        <li><b>Có phí:</b> @ViewBag.countPostsPay</li>
                                    </ul>
                                </div>
                                <div class="col-lg-12 mt-2">
                                    <div class="card">
                                        <div style="padding: 10px">
                                            <p class="text-danger">Thông tin liên hệ</p>
                                            <ul>
                                                <li><b>Email:</b>Ẩn</li>
                                                <li><b>SĐT:</b>Ẩn</li>
                                                <li class="text-default">(Chỉ hiển thị khi đã mua code)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div style="padding: 10px">
                            <b>Chia sẻ cho bạn bè</b>
                            <div class="row mt-2">
                                <div class="col-lg-12" style="padding: 20px">
                                    <button class="ui circular facebook icon button">
                                        <i class="facebook icon"></i>
                                    </button>
                                    <button class="ui circular twitter icon button">
                                        <i class="twitter icon"></i>
                                    </button>
                                    <button class="ui circular linkedin icon button">
                                        <i class="linkedin icon"></i>
                                    </button>
                                    <button class="ui circular google plus icon button">
                                        <i class="google plus icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div style="padding: 10px">
                            <b>Tag</b>
                            <div class="row mt-2">
                                <div class="col-lg-12" style="padding: 20px">
                                    <a class="ui tag label">New</a>
                                    <a class="ui tag label">New</a>
                                    <a class="ui tag label">New</a>
                                    <a class="ui tag label">New</a>
                                    <a class="ui tag label">New</a>
                                    <a class="ui tag label">New</a>
                                    <a class="ui tag label">New</a>
                                    <a class="ui tag label">New</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <aside class="single_sidebar_widget popular_post_widget" style="padding: 10px">
                            <b>Code tương tự</b>
                            @for (var i = 0; i < 7; i++)
                            {
                                <div class="media post_item mt-2">
                                    <img src="~/Content/Layout/img/post/post_1.png" alt="post">
                                    <div class="media-body ml-2">
                                        <a href="blog_details.html">
                                            <h5 style="color: #2d2d2d;">From life was you fish...</h5>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                            }
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="idpost" value="@Model.Post_ID" />
<script>
    $(document).ready(function () {
        $("#addfavorite").click(function () {
            let id = document.getElementById("idpost").value;
            debugger
            $.ajax({
                url: "/Ajax/AddFavorite?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmFavorite = '<button class="ui red button float-right" id="removefavorite"><i class="fa fa-heart">&nbsp;</i>Hủy yêu thích code</button>';
                    //let addFavoriteCount = parseInt(countFavorite)++;
                    let htmNewFavorite = '&nbsp;' + response;
                    $("#favorite").html(htmFavorite);
                    $("#newCountFavorite").html(htmNewFavorite);
                }
            })
        })
    })
</script>

<script>
    $(document).ready(function () {
        $("#removefavorite").click(function () {
            let id = document.getElementById("idpost").value; debugger
            $.ajax({
                url: "/Ajax/RemoveFavorite?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmFavorite = '<button class="ui red button float-right" id="addfavorite"><i class="fa fa-heart">&nbsp;</i>Thích code</button>';
                    let htmNewFavorite = '&nbsp;' + response;
                    $("#favorite").html(htmFavorite);
                    $("#newCountFavorite").html(htmNewFavorite);
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#download").click(function () {
            let id = document.getElementById("idpost").value; debugger
            $.ajax({
                url: "/Ajax/CountDownLoad?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmNewDownLoad = '&nbsp;' + response;
                    $("#newCountDownLoad").html(htmNewDownLoad);
                }
            })
        })
    })
</script>