@using ShareCode.Models;
@model ShareCode.Models.tblPost

@{
    ViewBag.Title = Model.Post_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    DBShareCodeEntities db = new DBShareCodeEntities();
    List<string> mulImage = Model.Post_ViewMoreImage.Split(';').ToList();
    tblUser user = new tblUser();
    HttpCookie member_cookie = Request.Cookies["member_id"];
    if (member_cookie != null)
    {
        user = db.tblUsers.Find(int.Parse(member_cookie.Value.ToString()));
    }
    int coin = (int)Model.Post_Price;
}
<div class="row mt-5">
    <div class="col-lg-9 most-recent">
        <div class="row">
            <div class="col-md-12 item">
                <div class="row">
                    <div class="col-md-4 item">
                        <img src="~/Content/Layout/img/post/@Model.Post_Avata" class="w-100 border border-primary" style="height: 200px" />
                    </div>
                    <div class="col-lg-8">
                        <h4 class="font-weight-bold">@Model.Post_Title <b class="text-danger">[Mã code: #@Model.Post_Code]</b></h4>
                        <div class="row mt-1">
                            <div class="col-lg-8">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                @Model.tblRates.Count() Đánh giá
                                @if (member_cookie != null)
                                {
                                    if (Model.tblOrders.Where(t => t.Order_User == user.User_ID && t.Order_Post == Model.Post_ID).Count() != 0)
                                    {
                                        <a data-toggle="modal" data-target="#votepost"><i class="fa fa-edit">&nbsp;</i>Đánh giá </a>
                                    }
                                    else
                                    {
                                        <a data-toggle="modal" data-target="#notifybuycode"><i class="fa fa-edit">&nbsp;</i>Đánh giá</a>
                                    }
                                }
                                else
                                {
                                    <a data-toggle="modal" data-target="#login"><i class="fa fa-edit">&nbsp;</i>Đánh giá</a>
                                }
                            </div>
                            <div class="col-lg-4">
                                <i class="fa fa-eye">&nbsp;</i>@Model.Post_View
                                <i class="fa fa-download" id="newCountDownLoad">&nbsp;@Model.Post_CountDownLoad</i>
                                <i class="fa fa-heart" id="newCountFavorite">&nbsp;@Model.Post_Favorite</i>
                            </div>
                            <div class="col-lg-12">
                                <hr />
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3 class="font-weight-bold"><b class="text-danger">Phí tải: </b>@coin xu <span style="color: gray; font-size: 15px">(1 xu = 2.000 vnđ)</span></h3>
                                    </div>
                                    <div class="col-lg-4" id="favorite">
                                        @if (user.User_ID == Model.Post_User)
                                        {
                                            <button class="ui red button float-right"><i class="fa fa-comments">&nbsp;</i>Xem bình luận</button>
                                        }
                                        else
                                        {
                                            if (Session["member"] != null)
                                            {
                                                Boolean checkfavorite = db.tblFavorites.FirstOrDefault(t => t.Favorite_User == user.User_ID && t.Favorite_Post == Model.Post_ID) != null;
                                                if (checkfavorite)
                                                {
                                                    <button class="ui red button float-right" id="removefavorite"><i class="fa fa-heart">&nbsp;</i>Hủy yêu thích code</button>
                                                }
                                                else
                                                {
                                                    <button class="ui red button float-right" id="addfavorite"><i class="fa fa-heart">&nbsp;</i>Thích code</button>
                                                }
                                            }
                                            else
                                            {
                                                <button data-toggle="modal" data-target="#login" class="ui red button float-right w-100"><i class="fa fa-heart">&nbsp;</i>Thích code</button>
                                            }
                                        }
                                    </div>
                                    <hr />
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><b>Danh mục:</b><a href="@Url.Action("FilterPostsByCatID", "Posts", new { id = Model.Post_Cat })" style="color: red">@Model.tblCategory.Cat_Name</a></li>
                                            <li><b>Thể loại:</b><a href="@Url.Action("FilterPostsByGenresID", "Posts", new { id = Model.Post_Genres })" style="color: red">@Model.tblGenre.Genres_Name</a></li>
                                            <li><b>Nhóm code:</b><a href="@Url.Action("FilterPostsByGroupCodeID", "Posts", new { id = Model.Post_Group })" style="color: red">@Model.tblGroupCode.Group_Name</a></li>
                                            <li><b>Ngày đăng:</b>@Model.Post_DateCreate.Value.ToLongDateString()</li>
                                            <li><b>Dung lượng:</b>Chưa có</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        @if (user.User_ID == Model.Post_User)
                                        {
                                            <button class="ui green button float-right w-100 mt-2"><i class="fa fa-edit">&nbsp;</i>Chỉnh sửa</button>
                                        }
                                        else
                                        {
                                            if (member_cookie != null)
                                            {
                                                <button id="download" class="ui green button float-right w-100 mt-2" onclick="window.location.href='#dow'"><i class="fa fa-download">&nbsp;</i>Download</button>
                                            }
                                            else
                                            {
                                                <button onclick="window.location.href='#dow'" class="ui green button float-right w-100 mt-2"><i class="fa fa-download">&nbsp;</i>Download</button>
                                            }
                                            <button class="ui gray button float-right w-100 mt-2"><i class="fa fa-desktop">&nbsp;</i>Demo</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ui two column grid">
                                    <div class="column  w-100">
                                        <div class="ui segment">
                                            <a class="ui red ribbon label">Mô tả chi tiết</a>
                                            <br />
                                            <br />
                                            @Html.Raw(Model.Post_Description)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-4" id="dow">
                                <div class="ui two column grid">
                                    <div class="column  w-100">
                                        <div class="ui segment">
                                            <a class="ui green ribbon label">Hướng dẫn cài đặt</a>
                                            <br />
                                            <br />
                                            @Html.Raw(Model.Post_TutorialSetup)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-5 text-white rounded w-100" id="scrollComment" style="background: #00838f !important">
                                <div style="padding: 10px">
                                    <h3 class="mb-30 text-white">DOWNLOAD</h3>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <i class="fa fa-file-archive">&nbsp;</i> <b style="color: brown">filetai.zip (45MB)</b>
                                            <br />
                                            <i class="fa fa-check text-success"></i>Đã được kiểm duyệt
                                            <br />
                                            <br />
                                            <br />
                                            @if (member_cookie != null)
                                            {
                                                if (user.User_ID == Model.Post_User)
                                                {
                                                    <a href="#" style="color: red; font-weight: bold; pointer-events: none; cursor: default"><i class="fas fa-exclamation">&nbsp;</i>Báo cáo</a>
                                                }
                                                else
                                                {
                                                    <a href="#" data-toggle="modal" data-target="#reportPost" style="color: red; font-weight: bold"><i class="fas fa-exclamation">&nbsp;</i>Báo cáo</a>

                                                }
                                            }
                                            else
                                            {
                                                <a href="#" data-toggle="modal" data-target="#login" style="color: red; font-weight: bold"><i class="fas fa-exclamation">&nbsp;</i>Báo cáo</a>
                                            }
                                            <a href="#" style="color: red; font-weight: bold"><i class="fas fa-exclamation-triangle">&nbsp;</i>Lỗi</a>
                                        </div>
                                        <div class="col-lg-4">
                                            <center><b class="text-center">Pass giải nén: Không</b></center>
                                            @if (member_cookie != null)
                                            {
                                                if (Model.Post_User == user.User_ID)
                                                {
                                                    <button disabled class="ui red button mt-1" style="font-size: 20px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD <br /> (@((int)Model.Post_Price) XU)</button>
                                                }
                                                else if (Model.tblOrders.FirstOrDefault(t => t.Order_User == user.User_ID && t.Order_Post == Model.Post_ID) != null)
                                                {
                                                    <button class="ui default button mt-1" style="font-size: 20px"><i class="fa fa-buy-n-large">&nbsp;</i>Đã mua <br /></button>
                                                }
                                                else if (user.User_Coin < Model.Post_Price)
                                                {
                                                    <button data-toggle="modal" data-target="#notifynotenoughcoin" class="ui red button mt-1" style="font-size: 20px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD <br /> (@((int)Model.Post_Price) XU)</button>
                                                }
                                                else
                                                {
                                                    <button data-toggle="modal" data-target="#paycoin" class="ui red button mt-1" style="font-size: 20px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD <br /> (@((int)Model.Post_Price) XU)</button>

                                                    <!-- thanh toan -->
                                                    <div class="modal fade" id="paycoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-image: url('../../Content/Layout/img/hero/h1_hero.png'); background-repeat: no-repeat">
                                                                    <h2 class="font-weight-bold" id="exampleModalLabel"><b class="text-center" style="color: white">Sharecodeonline.com</b></h2>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true" style="color: white">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <button class="ui facebook button w-100" style="font-size: 15px">
                                                                        <i class="facebook icon"></i>
                                                                        Facebook
                                                                    </button>
                                                                    <button class="ui google plus button mt-2 w-100" style="font-size: 15px">
                                                                        <i class="google plus icon"></i>
                                                                        Google
                                                                    </button>
                                                                    <hr />
                                                                    <p>Bạn chưa có tài khoản? <a href="@Url.Action("Register", "User")" class="text-success">Thanh toan</a></p>
                                                                    @using (Html.BeginForm("PayCoin", "Payments", FormMethod.Post))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <input type="hidden" name="PostID" value="@Model.Post_ID" />

                                                                        <input type="hidden" name="UserID" value="@user.User_ID" />

                                                                        <input type="hidden" name="Amount" value="@Model.Post_Price" />

                                                                        <button type="submit" class="ui green submit button w-100"><i class="fas fa-buy-n-large">&nbsp;</i>Thanh toan</button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <button data-toggle="modal" data-target="#login" class="ui red button mt-1" style="font-size: 20px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD <br /> (@((int)Model.Post_Price) XU)</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3" id="commentsList">
                                @Html.Action("GetCommentByPostId", "Comments", new { id = Model.Post_ID })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <h3 class="section-title-left">Code gần giống </h3>
                <div class="row">
                    @Html.Action("SamePosts", "View")
                </div>
            </div>
        </div>
        <!-- //pagination -->
    </div>
    <div class="col-lg-3 trending mt-lg-0 mt-5 mb-lg-5">
        <div class="pos-sticky">

            <h3 class="section-title-left">Người bán </h3>

            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image"> <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0">Tấn thanh</h4> <span>0924404019</span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Miễn phí</span> <span class="number1">0</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Trả phí</span> <span class="number2">980</span> </div>
                        </div>
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Chat</button> <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
                    </div>
                </div>
            </div>

            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui red button">
                            <i class="heart icon"></i> Like
                        </div>
                        <a class="ui basic red left pointing label">
                        </a>
                    </div>
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui basic blue button">
                            <i class="fork icon"></i> Forks
                        </div>
                        <a class="ui basic left pointing blue label">
                            1,048
                        </a>
                    </div>
                </div>
            </div>

            <hr />

            <div class="card p-3">
                <b>Chia sẻ code này</b>
                <div class="d-flex align-items-center mt-3">
                    <button class="ui circular facebook icon button">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui circular twitter icon button">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui circular linkedin icon button">
                        <i class="linkedin icon"></i>
                    </button>
                    <button class="ui circular google plus icon button">
                        <i class="google plus icon"></i>
                    </button>
                </div>
            </div>

            <h3 class="section-title-left">Đánh giá </h3>

            <div class="card">
                <b>Điểm trung bình</b>
                <div class="d-flex align-items-center" style="color: #ffe623!important">
                    @{
                        int intStar = Model.tblRates.Average(t => t.Rate_Star) != null ? (int)Model.tblRates.Average(t => t.Rate_Star) : 0;
                        for (int i = 1; i <= intStar; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                        if (intStar != Model.tblRates.Average(t => t.Rate_Star) && intStar != 0)
                        {
                            <i class="fas fa-star-half-alt"></i>
                            for (int i = intStar + 1; i <= 4; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        }
                        else
                        {
                            for (int i = intStar + 1; i <= 5; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        }
                    }
                </div>
                <div class="d-flex align-items-center">
                    <b class="text-danger" style="font-size: 25px">
                        @{
                            double sum = Model.tblRates.Average(t => t.Rate_Star) != null ? (double)Model.tblRates.Average(t => t.Rate_Star) : 0;
                            sum = Math.Round(sum, 1);
                        }@sum
                    </b>
                </div>
                <br />
                <b>@Model.tblRates.Count() đánh giá</b>
                <div class="d-flex align-items-center">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div> Code rất tốt (@Model.tblRates.Where(t => t.Rate_Star == 5).Count())
                </div>
                <div class="d-flex align-items-center">
                    <div class="ui star rating" data-rating="4" data-max-rating="5"></div> Code tốt (@Model.tblRates.Where(t => t.Rate_Star == 4).Count())
                </div>
                <div class="d-flex align-items-center">
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>Code bình thường (@Model.tblRates.Where(t => t.Rate_Star == 3).Count())
                </div>
                <div class="d-flex align-items-center">
                    <div class="ui star rating" data-rating="2" data-max-rating="5"></div>Code tạm ổn (@Model.tblRates.Where(t => t.Rate_Star == 2).Count())
                </div>
                <div class="d-flex align-items-center">
                    <div class="ui star rating" data-rating="1" data-max-rating="5"></div>Code tệ (@Model.tblRates.Where(t => t.Rate_Star == 1).Count())
                </div>
            </div>
            <script>
                $('.ui.rating')
                    .rating()
                    ;
            </script>

        </div>
    </div>
</div>

@if (Model.tblRates.Where(t => t.Rate_User == user.User_ID) != null)
{
    <!-- thanh toan -->
    <div class="modal fade" id="votepost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-image: url('../../Content/Layout/img/hero/h1_hero.png'); background-repeat: no-repeat">
                    <h2 class="font-weight-bold" id="exampleModalLabel"><b class="text-center" style="color: white">Sharecodeonline.com</b></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center" onclick="window.location.href='/Posts/Vote/@Model.Post_ID?star=5'">
                        <div class="ui star rating" data-rating="5" data-max-rating="5"></div> Code rất tốt
                    </div>
                    <div class="d-flex align-items-center" onclick="window.location.href='/Posts/Vote/@Model.Post_ID?star=4'">
                        <div class="ui star rating" data-rating="4" data-max-rating="5"></div> Code tốt
                    </div>
                    <div class="d-flex align-items-center" onclick="window.location.href='/Posts/Vote/@Model.Post_ID?star=3'">
                        <div class="ui star rating" data-rating="3" data-max-rating="5"></div>Code bình thường
                    </div>
                    <div class="d-flex align-items-center" onclick="window.location.href='/Posts/Vote/@Model.Post_ID?star=2'">
                        <div class="ui star rating" data-rating="2" data-max-rating="5"></div>Code tạm ổn
                    </div>
                    <div class="d-flex align-items-center" onclick="window.location.href='/Posts/Vote/@Model.Post_ID?star=1'">
                        <div class="ui star rating" data-rating="1" data-max-rating="5"></div>Code tệ
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bao cao xau -->
    <div class="modal fade" id="reportPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-image: url('../../Content/Layout/img/hero/h1_hero.png'); background-repeat: no-repeat">
                    <h2 class="font-weight-bold" id="exampleModalLabel"><b class="text-center" style="color: white">Sharecodeonline.com</b></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Report", "Posts"))
                    {
                        Html.AntiForgeryToken();
                        <input type="hidden" name="id" value="@Model.Post_ID" />
                        <div class="d-flex align-items-center">
                            <div class="ui star rating" data-rating="5" data-max-rating="5"></div> Code không đúng mô tả
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="ui star rating" data-rating="5" data-max-rating="5"></div> Code không chạy
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="ui star rating" data-rating="5" data-max-rating="5"></div> Code chứa file độc hại
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="ui star rating" data-rating="5" data-max-rating="5"></div> Code đồi trụy
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="ui star rating" data-rating="5" data-max-rating="5"></div> Code có giá quá cao
                        </div>
                        <textarea name="Report_Contents"></textarea>
                        <input type="submit" value="Báo cáo" />
                    }
                </div>
            </div>
        </div>
    </div>
}


<!--<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    <img src="~/Content/Layout/img/post/@Model.Post_Avata" class="w-100 border border-primary" style="height: 200px" />
                    <br />
                    <div class="row" style="padding-bottom: 10px">
                        @foreach (var img in mulImage)
                        {
                            <div class="col-md-4">
                                <img src="~/Content/Layout/img/post/@img" style="width: 100%; height: 50px" />
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-9">


                </div>
            </div>
            <div class="row mt-5">-->
<!-- comment content -->
<!--<div class="col-lg-12">

</div>-->
<!-- //comment content -->
<!--</div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card mt-5">
                        <div style="padding: 10px">
                            <b>Chia sẻ cho bạn bè</b>
                            <div class="row mt-2">
                                <div class="col-lg-12" style="padding: 20px">
                                    <button class="ui circular facebook icon button">
                                        <i class="facebook icon"></i>
                                    </button>
                                    <button class="ui circular twitter icon button">
                                        <i class="twitter icon"></i>
                                    </button>
                                    <button class="ui circular linkedin icon button">
                                        <i class="linkedin icon"></i>
                                    </button>
                                    <button class="ui circular google plus icon button">
                                        <i class="google plus icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div style="padding: 10px">
                            <b>Tag</b>
                            <div class="row mt-2">
                                <div class="col-lg-12" style="padding: 20px">
                                    @Html.Action("Top7Tags", "View")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <aside class="single_sidebar_widget popular_post_widget" style="padding: 10px">
                            <b>Code tương tự</b>
                            @Html.Action("SamePosts", "View")
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<input type="hidden" id="idpost" value="@Model.Post_ID" />
<script>
    $(document).ready(function () {
        $("#addfavorite").click(function () {
            let id = document.getElementById("idpost").value;
            debugger
            $.ajax({
                url: "/Ajax/AddFavorite?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmFavorite = '<button class="ui red button float-right" id="removefavorite"><i class="fa fa-heart">&nbsp;</i>Hủy yêu thích code</button>';
                    //let addFavoriteCount = parseInt(countFavorite)++;
                    let htmNewFavorite = '&nbsp;' + response;
                    $("#favorite").html(htmFavorite);
                    $("#newCountFavorite").html(htmNewFavorite);
                }
            })
        })
    })
</script>

<script>
    $(document).ready(function () {
        $("#removefavorite").click(function () {
            let id = document.getElementById("idpost").value; debugger
            $.ajax({
                url: "/Ajax/RemoveFavorite?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmFavorite = '<button class="ui red button float-right" id="addfavorite"><i class="fa fa-heart">&nbsp;</i>Thích code</button>';
                    let htmNewFavorite = '&nbsp;' + response;
                    $("#favorite").html(htmFavorite);
                    $("#newCountFavorite").html(htmNewFavorite);
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#download").click(function () {
            let id = document.getElementById("idpost").value; debugger
            $.ajax({
                url: "/Ajax/CountDownLoad?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmNewDownLoad = '&nbsp;' + response;
                    $("#newCountDownLoad").html(htmNewDownLoad);
                }
            })
        })
    })
</script>

<style>

    .stats {
        background: #f2f5f8 !important;
        color: #000 !important
    }

    .articles {
        font-size: 10px;
        color: #a1aab9
    }

    .number1 {
        font-weight: 500
    }

    .followers {
        font-size: 10px;
        color: #a1aab9
    }

    .number2 {
        font-weight: 500
    }

    .rating {
        font-size: 10px;
        color: #a1aab9
    }

    .number3 {
        font-weight: 500
    }
</style>