@using ShareCode.Models;
@model ShareCode.Models.tblPost

@{
    ViewBag.Title = Model.Post_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> mulImage = Model.Post_ViewMoreImage.Split(';').ToList();
    tblUser user = new tblUser();
    if (Session["member"] != null)
    {
        user = (tblUser)Session["member"];
    }
    int coin = (int)Model.Post_Price;
    DBShareCodeEntities db = new DBShareCodeEntities();
}
<div class="row">
    <div class="col-lg-9 most-recent">
        <div class="row">
            <div class="col-md-12 item">
                <div class="row">
                    <div class="col-md-4 item">
                        <img src="~/Content/Layout/img/post/@Model.Post_Avata" class="w-100 border border-primary" style="height: 200px" />
                    </div>
                    <div class="col-lg-8">
                        <b>@Model.Post_Title <b class="text-danger">[Mã code: #@Model.Post_Code]</b></b>
                        <div class="row">
                            <div class="col-lg-8">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                @Model.Post_Vote Đánh giá
                                <i class="fa fa-edit">&nbsp;</i>Viết đánh giá
                            </div>
                            <div class="col-lg-4">
                                <i class="fa fa-eye">&nbsp;</i>@Model.Post_View
                                <i class="fa fa-download" id="newCountDownLoad">&nbsp;@Model.Post_CountDownLoad</i>
                                <i class="fa fa-heart" id="newCountFavorite">&nbsp;@Model.Post_Favorite</i>
                            </div>
                            <div class="col-lg-12">
                                <hr />
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3 class="font-weight-bold"><b class="text-danger">Phí tải: </b>@coin xu <span style="color: gray; font-size: 15px">(1 xu = 2.000 vnđ)</span></h3>
                                    </div>
                                    <div class="col-lg-4" id="favorite">
                                        @if (user.User_ID == Model.Post_User)
                                        {
                                            <button class="ui red button float-right"><i class="fa fa-comments">&nbsp;</i>Xem bình luận</button>
                                        }
                                        else
                                        {
                                            if (Session["member"] != null)
                                            {
                                                Boolean checkfavorite = db.tblFavorites.FirstOrDefault(t => t.Favorite_User == user.User_ID && t.Favorite_Post == Model.Post_ID) != null;
                                                if (checkfavorite)
                                                {
                                                    <button class="ui red button float-right" id="removefavorite"><i class="fa fa-heart">&nbsp;</i>Hủy yêu thích code</button>
                                                }
                                                else
                                                {
                                                    <button class="ui red button float-right" id="addfavorite"><i class="fa fa-heart">&nbsp;</i>Thích code</button>
                                                }
                                            }
                                            else
                                            {
                                                <button data-toggle="modal" data-target="#login" class="ui red button float-right"><i class="fa fa-heart">&nbsp;</i>Thích code</button>
                                            }
                                        }
                                    </div>
                                    <hr />
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><b>Danh mục:</b><a href="@Url.Action("FilterPostsByCatID", "Posts", new { id = Model.Post_Cat})" style="color: red">@Model.tblCategory.Cat_Name</a></li>
                                            <li><b>Thể loại:</b><a href="@Url.Action("FilterPostsByGenresID", "Posts", new { id = Model.Post_Genres})" style="color: red">@Model.tblGenre.Genres_Name</a></li>
                                            <li><b>Nhóm code:</b><a href="@Url.Action("FilterPostsByGroupCodeID", "Posts", new { id = Model.Post_Group})" style="color: red">@Model.tblGroupCode.Group_Name</a></li>
                                            <li><b>Ngày đăng:</b>@Model.Post_DateCreate.Value.ToLongDateString()</li>
                                            <li><b>Dung lượng:</b>Chưa có</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        @if (user.User_ID == Model.Post_User)
                                        {
                                            <button class="ui green button float-right w-100 mt-2"><i class="fa fa-edit">&nbsp;</i>Chỉnh sửa</button>
                                        }
                                        else
                                        {
                                            if (Session["member"] != null)
                                            {
                                                <button id="download" class="ui green button float-right w-100 mt-2" onclick="window.location.href='#dow'"><i class="fa fa-download">&nbsp;</i>Download</button>
                                            }
                                            else
                                            {
                                                <button onclick="window.location.href='#dow'" class="ui green button float-right w-100 mt-2"><i class="fa fa-download">&nbsp;</i>Download</button>
                                            }
                                            <button class="ui gray button float-right w-100 mt-2"><i class="fa fa-desktop">&nbsp;</i>Demo</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ui two column grid">
                                    <div class="column  w-100">
                                        <div class="ui raised segment">
                                            <a class="ui red ribbon label">Mô tả chi tiết</a>
                                            <br />
                                            @Html.Raw(Model.Post_Description)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-4" id="dow">
                                <div class="ui two column grid">
                                    <div class="column  w-100">
                                        <div class="ui raised segment">
                                            <a class="ui green ribbon label">Hướng dẫn cài đặt</a>
                                            <br />
                                            @Html.Raw(Model.Post_TutorialSetup)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-5 bg-info text-white rounded w-100" id="scrollComment">
                                <div style="padding: 10px">
                                    <h3 class="mb-30 text-white">DOWNLOAD</h3>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <i class="fa fa-file-archive">&nbsp;</i> <b style="color: brown">filetai.zip (45MB)</b>
                                            <br />
                                            <i class="fa fa-check text-success"></i>Đã được kiểm duyệt
                                            <br />
                                            <br />
                                            <br />
                                            <a href="#" style="color: red; font-weight: bold"><i class="fas fa-exclamation">&nbsp;</i>Báo cáo</a>
                                            <a href="#" style="color: red; font-weight: bold"><i class="fas fa-exclamation-triangle">&nbsp;</i>Lỗi</a>
                                        </div>
                                        <div class="col-lg-4">
                                            <center><b class="text-center">Pass giải nén: Không</b></center>
                                            <button class="ui red button mt-1" style="font-size: 20px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD <br /> (0 XU)</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                @Html.Action("GetCommentByPostId", "Comments", new { id = Model.Post_ID })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <h3 class="section-title-left">Code gần giống </h3>
                <div class="row">
                    @for (var i = 0; i < 8;i++)
                    {
                        <div class="col-lg-3 mt-3">
                            <div class="ui special cards">
                                <div class="card">
                                    <div class="blurring dimmable image">
                                        <div class="ui dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <a href="" class="ui inverted button">Xem</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Content/Layout/img/post/website-thoi-trang-day-du-chuc-nang-tich-hop-thanh-toan-online-momo-atm-ngan-luong-105739.jpg" style="width: 100%; height: 170px">
                                    </div>
                                    <center>
                                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-download">&nbsp;</i>1</button>
                                            <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-eye">&nbsp;</i>1</button>
                                            <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-heart">&nbsp;</i>1</button>
                                        </div>
                                    </center>
                                    <div class="content">
                                        <a class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>ASP.net</a>
                                        <br />
                                        <a style="color: brown">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                                        <div class="meta">
                                            <span class="date">22/2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- //pagination -->
    </div>
    <div class="col-lg-3 trending mt-lg-0 mt-5 mb-lg-5">
        <div class="pos-sticky">
            <h3 class="section-title-left">Trending </h3>

            <div class="grids5-info">
                <h4>01.</h4>
                <div class="blog-info">
                    <a href="#blog-single" class="blog-desc1">
                        You can always change your domain name in the future if you like.
                    </a>
                    <div class="author align-items-center mt-2 mb-1">
                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                    </div>
                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> April 13, 2020 </span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> 6min read</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grids5-info">
                <h4>02.</h4>
                <div class="blog-info">
                    <a href="#blog-single" class="blog-desc1">
                        Pick a domain name & hosting for your blog
                    </a>
                    <div class="author align-items-center mt-2 mb-1">
                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                    </div>
                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> April 13, 2020 </span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> 6min read</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grids5-info">
                <h4>03.</h4>
                <div class="blog-info">
                    <a href="#blog-single" class="blog-desc1">
                        How To Start A Blog From Scratch and with No Experience

                    </a>
                    <div class="author align-items-center mt-2 mb-1">
                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                    </div>
                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> April 13, 2020 </span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> 6min read</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grids5-info">
                <h4>04.</h4>
                <div class="blog-info">
                    <a href="#blog-single" class="blog-desc1">
                        Within few minutes, you will have your blog up and running.
                    </a>
                    <div class="author align-items-center mt-3 mb-1">
                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                    </div>
                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> April 13, 2020 </span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> 6min read</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    <img src="~/Content/Layout/img/post/@Model.Post_Avata" class="w-100 border border-primary" style="height: 200px" />
                    <br />
                    <div class="row" style="padding-bottom: 10px">
                        @foreach (var img in mulImage)
                        {
                            <div class="col-md-4">
                                <img src="~/Content/Layout/img/post/@img" style="width: 100%; height: 50px" />
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-9">
                   
                    
                </div>
            </div>
            <div class="row mt-5">-->
                
                
                
                <!-- comment content -->
                <!--<div class="col-lg-12">
                    
                </div>-->
                <!-- //comment content -->
            <!--</div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="card mt-5">
                        <div style="padding: 10px">
                            <b>Chia sẻ cho bạn bè</b>
                            <div class="row mt-2">
                                <div class="col-lg-12" style="padding: 20px">
                                    <button class="ui circular facebook icon button">
                                        <i class="facebook icon"></i>
                                    </button>
                                    <button class="ui circular twitter icon button">
                                        <i class="twitter icon"></i>
                                    </button>
                                    <button class="ui circular linkedin icon button">
                                        <i class="linkedin icon"></i>
                                    </button>
                                    <button class="ui circular google plus icon button">
                                        <i class="google plus icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div style="padding: 10px">
                            <b>Tag</b>
                            <div class="row mt-2">
                                <div class="col-lg-12" style="padding: 20px">
                                    @Html.Action("Top7Tags", "View")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <aside class="single_sidebar_widget popular_post_widget" style="padding: 10px">
                            <b>Code tương tự</b>
                            @Html.Action("SamePosts", "View")
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<input type="hidden" id="idpost" value="@Model.Post_ID" />
<script>
    $(document).ready(function () {
        $("#addfavorite").click(function () {
            let id = document.getElementById("idpost").value;
            debugger
            $.ajax({
                url: "/Ajax/AddFavorite?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmFavorite = '<button class="ui red button float-right" id="removefavorite"><i class="fa fa-heart">&nbsp;</i>Hủy yêu thích code</button>';
                    //let addFavoriteCount = parseInt(countFavorite)++;
                    let htmNewFavorite = '&nbsp;' + response;
                    $("#favorite").html(htmFavorite);
                    $("#newCountFavorite").html(htmNewFavorite);
                }
            })
        })
    })
</script>

<script>
    $(document).ready(function () {
        $("#removefavorite").click(function () {
            let id = document.getElementById("idpost").value; debugger
            $.ajax({
                url: "/Ajax/RemoveFavorite?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmFavorite = '<button class="ui red button float-right" id="addfavorite"><i class="fa fa-heart">&nbsp;</i>Thích code</button>';
                    let htmNewFavorite = '&nbsp;' + response;
                    $("#favorite").html(htmFavorite);
                    $("#newCountFavorite").html(htmNewFavorite);
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#download").click(function () {
            let id = document.getElementById("idpost").value; debugger
            $.ajax({
                url: "/Ajax/CountDownLoad?id=" + id,
                contentType: "Json",
                success: function (response) {
                    let htmNewDownLoad = '&nbsp;' + response;
                    $("#newCountDownLoad").html(htmNewDownLoad);
                }
            })
        })
    })
</script>

