@model ShareCode.Models.tblPost

@{
    ViewBag.Title = "Cập nhật bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider-area slider-area2" style="height: 345px;">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                            <h3 data-animation="bounceIn" data-delay="0.2s">
                                <div class="ui search">
                                    <div class="ui icon input w-100">
                                        <input class="prompt" type="text" placeholder="Nhập từ khóa...">
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "ui form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Post_ID)
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success">Thông tin cá nhân của bạn chưa cập nhật Số điện thoại, vui lòng cập nhật Số điện thoại <a href="#" class="text-danger">TẠI ĐÂY</a> !</div>
            </div>
            <div class="col-lg-8">
                <div class="alert alert-danger">
                    <h3 class="font-weight-bold text-center">SỬA CODE MÃ #CODE-@Model.Post_ID</h3>
                </div>
                <div class="">
                    <div class="card" style="background-color: #faf8f1; border-radius: 0px">
                        <ul class="" style="padding: 10px">
                            <li>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ui black segment">
                                            <h4><b class="text-danger">Lợi ích tanthanh.com mang lại</b></h4>
                                            <ul>
                                                <li><i class="fa fa-check text-success">&nbsp;</i>Tiếp cận trăm nghìn khách hàng tiềm năng mỗi ngày</li>
                                                <li><i class="fa fa-check text-success">&nbsp;</i>Code được marketting đưa lên top 5 google</li>
                                                <li><i class="fa fa-check text-success">&nbsp;</i>Hưởng 70% doanh thu trên mỗi code được bán</li>
                                                <li><i class="fa fa-check text-success">&nbsp;</i>Bạn tự đặt phí cho source code của mình</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-5">
                                <div class="row">
                                    <div class="col-lg-12 field">
                                        <b>Ảnh Đại diện<b class="text-danger">*</b></b>
                                        <br />
                                        <br />
                                        <input type="file" accept="image/*" onchange="preview_image(event)" />
                                    </div>
                                    <div class="col-lg-5">
                                        <img id="output_image" src="~/Content/Layout/img/post/@Model.Post_Avata" style="width: 100%; height: 200px" class="mt-3" />
                                    </div>
                                    <div class="col-lg-7">
                                        <br />
                                        <div><i class="fa fa-check text-success">&nbsp;</i>Ảnh đẹp sẽ giúp code có nhiều lượt xem</div>
                                        <div><i class="fa fa-check text-success">&nbsp;</i>Dung lượng tối đa 2MB</div>
                                    </div>
                                    <div class="col-lg-12">
                                        <hr />
                                        <ul>
                                            <li class="mt-3 field">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <b>Tiêu đề code<b class="text-danger">*</b></b>
                                                        @Html.EditorFor(model => model.Post_Title, new { htmlAttributes = new { @class = "form-control border border-success", @placeholder = "Tối thiểu 20 ký tự" } })
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <br />
                                                        Quyết định 80% SEO
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <b>Danh mục<b class="text-danger">*</b></b>
                                                        <br />
                                                        @Html.DropDownList("Post_Cat", null, htmlAttributes: new { @class = "form-control w-75 border border-success" })
                                                    </div>
                                                    <div class="col-lg-4">

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <b>Thể loại<b class="text-danger">*</b></b>
                                                        <br />
                                                        @Html.DropDownList("Post_Genres", null, htmlAttributes: new { @class = "form-control w-75 border border-success" })
                                                    </div>
                                                    <div class="col-lg-4">

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <b>Hình thức code<b class="text-danger">*</b></b>
                                                        <br />
                                                        @Html.DropDownList("Post_Group", null, htmlAttributes: new { @class = "form-control border border-success" })
                                                    </div>
                                                    <div class="col-lg-4">

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <b>Xu tải<b class="text-danger">*</b></b>
                                                        <br />
                                                        @Html.EditorFor(model => model.Post_Price, new { htmlAttributes = new { @class = "form-control border border-success", @placeholder = "Mức độ xu: 1xu = 2000 vnđ" } })
                                                    </div>
                                                    <div class="col-lg-4">

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3 field">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <b>Link download<b class="text-danger">*</b></b>
                                                        <br />
                                                        @Html.EditorFor(model => model.Post_LinkDown, new { htmlAttributes = new { @class = "form-control border border-success", @placeholder = "Link chứa code: google drive,..." } })
                                                    </div>
                                                    <div class="col-lg-4">

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3 field">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <b>Mô tả chi tiết<b class="text-danger">*</b></b>
                                                        <br />
                                                        <textarea name="Post_Description">@Model.Post_Description</textarea>
                                                        <script>
                                                            CKEDITOR.replace('Post_Description');
                                                        </script>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3 field">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <b>Hướng dẫn cài đặt<b class="text-danger">*</b></b>
                                                        <br />
                                                        <textarea name="Post_TutorialSetup">@Model.Post_TutorialSetup</textarea>
                                                        <script>
                                                            CKEDITOR.replace('Post_TutorialSetup');
                                                        </script>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3 field">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <b>Từ khóa<b class="text-danger">*</b></b>
                                                        <br />
                                                        <input class="form-control border border-success" placeholder="Từ khóa tìm kiếm" />
                                                    </div>
                                                    <div class="col-lg-12 mt-3">
                                                        <b>Từ khóa phổ biến</b>
                                                        @for (var i = 0; i < 15; i++)
                                                        {
                                                            <a class="ui teal tag label">Featured</a>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3">
                                                <div class="ui message">
                                                    <div class="header">
                                                        Thông báo
                                                    </div>
                                                    <ul class="list">
                                                        <li>You can now have cover images on blog pages</li>
                                                        <li>Drafts will now auto-save while writing</li>
                                                    </ul>
                                                </div>
                                                <div class="field">
                                                    <div class="ui checkbox">
                                                        <input type="checkbox" tabindex="0">
                                                        <label>Tôi đã đọc và đồng ý với các điều khoản của tanthanh.com </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mt-3">
                                                <button class="ui red button submit"><i class="fa fa-save">&nbsp;</i>Lưu thay đổi</button>
                                                <div class="ui error message"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <script>
                                        function preview_image(event) {
                                            var reader = new FileReader();
                                            reader.onload = function () {
                                                var output = document.getElementById('output_image');
                                                output.src = reader.result;
                                            }
                                            reader.readAsDataURL(event.target.files[0]);
                                        }
                                    </script>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @Html.Action("InfoRight", "View")
            </div>
        </div>
    </div>
}
