@using ShareCode.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<tblPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="slider-area slider-area2" style="height: 345px;">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                            <h3 data-animation="bounceIn" data-delay="0.2s">
                                <div class="ui search">
                                    <div class="ui icon input w-100">
                                        <input class="prompt" type="text" placeholder="Nhập từ khóa...">
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Có 0 code được tìm thấy</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="@Url.Action("Details", new { id = item.Post_ID})"><img style="height: 200px" src="~/Content/Layout/img/post/@item.Post_Avata" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p class="text-danger">@item.tblCategory.Cat_Name</p>
                                <h3><a href="@Url.Action("Details", new { id = item.Post_ID})">@(item.Post_Title.Length < 50 ? item.Post_Title : item.Post_Title.Substring(0,50))</a></h3>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                        <p><span>(4.5)</span> <br />Đăng: @item.Post_DateCreate</p>
                                    </div>
                                    <div class="price">
                                        <span>Free</span>
                                    </div>
                                </div>
                                <a href="@Url.Action("Details", new { id = item.Post_ID})" class="border-btn border-btn2">Xem code</a>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString(), new { page }))
            </div>
        </div>
    </div>
</div>
