@using ShareCode.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<tblOrder>
@{
    ViewBag.Title = "Code đã mua";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success">Thông tin cá nhân của bạn chưa cập nhật Số điện thoại, vui lòng cập nhật Số điện thoại <a href="#" class="text-danger">TẠI ĐÂY</a> !</div>
        </div>
        <div class="col-lg-8">
            <div class="alert alert-danger">
                <h3 class="font-weight-bold">Code đã mua</h3>
            </div>
            <div class="float-right">
                <div class="ui buttons">
                    <button class="ui red basic button">Tất cả (@Model.Count())</button>
                    <button class="ui blue basic button">Có phí (@Model.Select(t => t.tblPost).Where(t => t.Post_Price > 0).Count())</button>
                    <button class="ui green basic button">Miển phí (@Model.Select(t => t.tblPost).Where(t => t.Post_Price == 0).Count())</button>
                </div>
            </div>
            <br />
            <br />
            <table class="table table-striped">
                <thead class="bg-dark text-white font-weight-bold">
                    <tr>
                        <td>Tên code</td>
                        <td>Người mua</td>
                        <td>Thời gian mua</td>
                        <td><i class="fa fa-cog"></i></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.tblPost.Post_Title</td>
                            <td>@item.tblUser.User_DisplayName</td>
                            <td>@item.Order_DateAdd</td>
                            <td><a href="@Url.Action("Details", "Posts", new { id = item.Order_Post})" target="_blank"><i class="fa fa-eye"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("PoatBought", new { page }))
            </div>
        </div>
        <div class="col-lg-4">
            @Html.Action("InfoRight", "View")
        </div>
    </div>
</div>

