@using ShareCode.Models;
@model List<tblPost>

<h3 class="section-title-left" style="color: #00838f !important">@ViewBag.TitleRecentlyAtHome </h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 mt-4">
            <div class="ui special cards">
                <div class="card w-100">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="@Url.Action("Details", "Posts", new { id = item.Post_ID})" class="ui inverted button">Xem</a>
                                </div>
                            </div>
                        </div>
                        <img src="~/Content/Layout/img/post/@item.Post_Avata" style="width: 100%; height: 120px">
                    </div>
                    <center>
                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-download">&nbsp;</i>@item.Post_CountDownLoad</button>
                            <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-eye">&nbsp;</i>@item.Post_View</button>
                            <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-heart">&nbsp;</i>@item.Post_Favorite</button>
                        </div>
                    </center>
                    <div class="content">
                        <a href="@Url.Action("FilterPostsByCatID", "Search", new { id = item.Post_Cat})" class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>@item.tblCategory.Cat_Name</a>
                        <br />
                        <a style="color: brown">@(item.Post_Title.Length < 40 ? item.Post_Title : item.Post_Title.Substring(0,40)+"...")</a>
                        <div class="meta">
                            <span class="date">@item.Post_DateCreate.Value.ToLongDateString()</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />