@using ShareCode.Models;
@{ 

    DBShareCodeEntities db = new DBShareCodeEntities();
}
<div class="menu-wrapper d-flex align-items-center justify-content-end">
    <!-- Main-menu -->
    <div class="main-menu d-none d-lg-block">
        <nav>
            <ul id="navigation">
                <li class="active"><a href="/Home/Index">Trang chủ</a></li>
                <li><a href="courses.html">Top code</a></li>
                <li><a href="about.html">Code chất lượng</a></li>
                <li><a href="contact.html">Code tham thảo</a></li>
                <li><a href="contact.html">Code miễn phí</a></li>
                <!-- Button -->
                @if (Session["member"] != null)
                {
                    tblUser user = (tblUser)Session["member"];
                    <li>
                        <div class="bg-white" style="border-radius: 50%; border: 2px solid gray; width:50px; height: 50px">
                            <img src="~/Images/User/man-300x300.png" style="width: 50px; height: 50px" />
                        </div>
                    </li>
                    <li class="text-white font-weight-bold mt-4" style="margin-left: 10px;">
                        <div class="nav-link">
                            <div class="ui compact">
                                <div class="ui simple dropdown item">
                                    <b class="font-weight-bold text-white">Chào: @user.User_DisplayName (0 xu)</b>
                                    <br />
                                    Tài khoản
                                    <i class="dropdown icon"></i>
                                    <div class="menu" style=" margin-left: -119px;">
                                        <a href="/User/MyInfo" class="item" style="width: 210px;"><i class="fa fa-user"></i>&nbsp;Thông tin cá nhân</a>
                                        <a href="@Url.Action("MyPosts", "Posts")" class="item" style="width: 210px;">Code tải lên</a>
                                        <a href="@Url.Action("PostsCollection", "Posts")" class="item" style="width: 210px;"><i class="fas fa-heart">&nbsp;</i>Code đã lưu</a>
                                        <a href="@Url.Action("PostBought", "Posts")" class="item" style="width: 210px;">Code đã mua</a>
                                        <div class="item" style="width: 210px;">Doanh thu</div>
                                        <div class="item" style="width: 210px;">Lịch sử nạp xu</div>
                                        <div class="item" style="width: 210px;">Rút tiền</div>
                                        <div class="item" style="width: 210px;">Bình luận</div>
                                        <a href="@Url.Action("ResetPassword", "User")" class="item" style="width: 210px;"><i class="fa fa-key">&nbsp;</i>Đổi mật khẩu</a>
                                        <div class="item" style="width: 210px;">Trợ giúp</div>
                                        <a class="item" href="@Url.Action("LogOut","User")"><i class="sign out alternate icon">&nbsp;</i>Đăng xuất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    @*<li class="button-header"><a href="" class="btn btn3"><i class="fa fa-user">&nbsp;</i></a></li>
                    <li class="button-header"><a href="" class="btn btn3"><i class="fa fa-sign-out-alt">&nbsp;</i>Đăng xuất</a></li>*@
                }
                else
                {
                    <li class="button-header"><a href="" data-toggle="modal" data-target="#login" class="btn btn3"><i class="fa fa-user">&nbsp;</i>Đăng nhập</a></li>
                }
                <li class="button-header margin-left"><a href="@Url.Action("Create", "Posts")" class="btn"  style="font-size: 12px"><i class="fa fa-upload">&nbsp;</i>Tải code</a></li>
            </ul>
        </nav>
    </div>
</div>
