@model ShareCode.Models.tblUser

@{
    ViewBag.Title = "Thêm người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-header start -->
        <div class="page-header card">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="icofont icofont-file-code bg-c-blue"></i>
                        <div class="d-inline">
                            <h4>@ViewBag.Title</h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Form Components</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Form Components</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-header end -->
        <!-- Page body start -->
        <div class="page-body">
            <div class="row" ng-controller="myController">
                <div class="col-sm-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-header">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <b class="control-label col-md-2">Ảnh đại diện</b>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <input type="file" accept="image/*" onchange="preview_image(event)" name="User_Avata" class="form-control">
                                            </div>
                                            <div class="col-lg-4">
                                                <img id="output_image" src="~/Content/Layout/img/noimages.jpg" style="width: 100%; height: 200px" />
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function preview_image(event) {
                                            var reader = new FileReader();
                                            reader.onload = function () {
                                                var output = document.getElementById('output_image');
                                                output.src = reader.result;
                                            }
                                            reader.readAsDataURL(event.target.files[0]);
                                        }
                                    </script>

                                </div>
                                <div class="form-group">
                                    <b class="control-label col-md-2">Tên hiển thị</b>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.User_DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b class="control-label col-md-2">Email</b>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b class="control-label col-md-2">Mật khẩu đăng nhập</b>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b class="control-label col-md-2">Số điện thoại</b>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.User_Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b class="control-label col-md-2">Điểm</b>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.User_Point, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b class="control-label col-md-2">Xu</b>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.User_Coin, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <b class="control-label col-md-2">Tình trạng</b>
                                    <div class="col-md-12">
                                        <select class="form-control" name="User_Active">
                                            <option value="true">Hoạt động</option>
                                            <option value="false">Không hoạt động</option>
                                        </select>
                                    </div>
                                </div>


                                @*<div class="form-group">
            @Html.LabelFor(model => model.User_DateLogin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_DateLogin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_DateLogin, "", new { @class = "text-danger" })
            </div>
        </div>*@



                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Trash, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.User_Trash)
                                        </div>
                                    </div>
                                </div>



                                @*<div class="form-group">
            @Html.LabelFor(model => model.User_Token, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Token, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Token, "", new { @class = "text-danger" })
            </div>
        </div>*@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Role, "User_Role", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("User_Role", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.User_Role, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_VIP, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_VIP, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User_VIP, "", new { @class = "text-danger" })
                                    </div>
                                </div>





                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                            }

                        </div>
                    </div>
                    <!-- Input Alignment card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>


