@using ShareCode.Models;
@model IEnumerable<ShareCode.Models.tblUser>

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    DBShareCodeEntities db = new DBShareCodeEntities();
}
@{ 
    List<tblRole> tblRole = db.tblRoles.ToList();
}

<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-header start -->
        <div class="page-header card">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="icofont icofont-file-code bg-c-blue"></i>
                        <div class="d-inline">
                            <h4>@ViewBag.Title</h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Form Components</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Form Components</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-header end -->
        <!-- Page body start -->
        <div class="page-body" ng-app="myModule">
            <div class="row" ng-controller="myControllerUser">
                <div class="col-sm-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="font-weight-bold">Tìm kiếm từ khóa</label>
                                    <input type="text" class="form-control w-100" placeholder="Mã người dùng" ng-model="textSearch.id" />
                                </div>
                                <div class="col-lg-3">
                                    <label class="font-weight-bold">Tình trạng</label>
                                    <select class="form-control" ng-model="textSearch.ac">
                                        <option value="">Tất cả</option>
                                        <option value="True">Hoạt động</option>
                                        <option value="False">Không hoạt động</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label class="font-weight-bold">Thùng rác</label>
                                    <select class="form-control" ng-model="textSearch.del">
                                        <option value="">Tất cả</option>
                                        <option value="False">Không thùng rác</option>
                                        <option value="True">Thùng rác</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label class="font-weight-bold">Vai trò</label>
                                    <select class="form-control" ng-model="textSearch.role">
                                        <option value="">Tất cả</option>
                                        @foreach (var item in tblRole)
                                        {
                                            <option value="@item.Role_Name">@item.Role_Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-3 mt-3">
                                    <label class="font-weight-bold">Email</label>
                                    <input type="text" class="form-control w-100" placeholder="Nhập email" ng-model="textSearch.email" />
                                </div>
                                <div class="col-lg-3  mt-3">
                                    <label class="font-weight-bold">Số điện thoại</label>
                                    <input type="text" class="form-control w-100" placeholder="Nhập số điện thoại" ng-model="textSearch.phone" />
                                </div>
                                <div class="col-lg-2 mt-3">
                                    <label class="font-weight-bold text-primary">Ngày</label>
                                    <select class="form-control" ng-model="textSearch.date">
                                        <option value="">Tất cả</option>

                                    </select>
                                </div>
                                <div class="col-lg-2 mt-3">
                                    <label class="font-weight-bold text-primary">Tháng</label>
                                    <select class="form-control" ng-model="textSearch.month">
                                        <option value="">Tất cả</option>

                                    </select>
                                </div>
                                <div class="col-lg-2 mt-3">
                                    <label class="font-weight-bold text-primary">Năm</label>
                                    <select class="form-control" ng-model="textSearch.year">
                                        <option value="">Tất cả</option>

                                    </select>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <button class="btn btn-success" onclick="window.location.href='/Admin/tblUsersAdmin/create'"><i class="fa fa-plus"></i>Thêm người dùng</button>
                                </div>
                            </div>

                        </div>
                        <div class="card-block">
                            <style>
                                .sortorder:after {
                                    content: '\25bc';
                                }

                                .sortorder.reverse:after {
                                    content: '\25b2';
                                }
                            </style>
                            <table class="table">
                                <thead class="bg-dark">
                                    <tr class="font-weight-bold">
                                        <td ng-click="sortBy('id')">Mã người dùng<span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span></td>
                                        <td>Ảnh</td>
                                        <td ng-click="sortBy('name')">Tên người dùng<span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span></td>
                                        <td ng-click="sortBy('email')">Email<span class="sortorder" ng-show="propertyName === 'Email'" ng-class="{reverse: reverse}"></span></td>
                                        <td ng-click="sortBy('pass')">Mật khẩu<span class="sortorder" ng-show="propertyName === 'pass'" ng-class="{reverse: reverse}"></span></td>
                                        <td ng-click="sortBy('ac')">Tình trang<span class="sortorder" ng-show="propertyName === 'ac'" ng-class="{reverse: reverse}"></span></td>
                                        <td ng-click="sortBy('role')">Vai trò<span class="sortorder" ng-show="propertyName === 'role'" ng-class="{reverse: reverse}"></span>Tình trạng</td>
                                        <td><i class="fa fa-cog">&nbsp;</i></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in user | filter:textSearch | orderBy:propertyName:reverse">
                                        <td style="width: 50px">{{user.id}}</td>
                                        <td><img style="width: 50px; height: 50px" src="~/Content/Layout/img/users/{{user.img}}" /></td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.pass}}</td>
                                        <td>{{user.ac}}</td>
                                        <td>{{user.role}}</td>
                                        <td>
                                            <a href="/Admin/tblusersAdmin/Details/{{user.id}}"><i class="fa fa-eye"></i></a> |
                                            <a href="/Admin/tblusersAdmin/Edit/{{user.id}}"><i class="fa fa-edit"></i></a> |
                                            <a href="/Admin/tblusersAdmin/Delete/{{user.id}}"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Input Alignment card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>
@*<td>

    </td>*@
<script>
    var app = angular
        .module("myModule", [])
        .controller("myControllerUser", function ($scope) {

            var user = [
                @foreach(var item in Model.OrderByDescending(n=>n.User_DateLogin))
                {
                    @: { id: @item.User_ID,img: "@item.User_Avata",email: "@item.User_Email",name: "@item.User_DisplayName", role: "@item.tblRole.Role_Name", datelogin: "@item.User_DateLogin",ac: "@item.User_Active", del: "@item.User_Trash", pass: "@item.User_Password",phone: "@item.User_Phone" },
                }
            ];

            $scope.user = user;
            $scope.propertyName = 'datelogin';
            $scope.reverse = true;
            $scope.user = user;

            $scope.sortBy = function (propertyName) {
                $scope.reverse = ($scope.propertyName === propertyName) ? !$scope.reverse : false;
                $scope.propertyName = propertyName;
            };

        });
</script>

