@model ShareCode.Models.tblComment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment_Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_DatePost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_DatePost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_Trash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_Trash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblBlog.Blog_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBlog.Blog_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblPost.Post_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblPost.Post_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.User_DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.User_DisplayName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
