@model ShareCode.Models.tblBlog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-header start -->
        <div class="page-header card">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="icofont icofont-file-code bg-c-blue"></i>
                        <div class="d-inline">
                            <h4>@ViewBag.Title</h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Form Components</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Form Components</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-header end -->
        <!-- Page body start -->
        <div class="page-body">
            <div class="row" ng-controller="myController">
                <div class="col-sm-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-header">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.BLog_ID)
                                    <div class="form-group">
                                        <b class="control-label col-md-2">Tiêu đề</b>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Blog_Title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Blog_Title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <b class="control-label col-md-2">Nội dung</b>
                                        <div class="col-md-12">
                                            <textarea name="Blog_Contents" id="Blog_Contents">@Model.Blog_Contents</textarea>
                                        </div>
                                        <script>
                                            ClassicEditor
                                                .create(document.querySelector( '#Blog_Contents' ) )
                                                .catch( error => {
                                                    console.error( error );
                                                } );
                                        </script>
                                    </div>

                                    <div class="form-group">
                                        <b class="control-label col-md-2">Tag</b>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.BLog_Tag, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.BLog_Tag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <b class="control-label col-md-2">Lượt xem</b>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Blog_View, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Blog_View, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <b class="control-label col-md-2">Ảnh</b>
                                        <div class="col-md-12">
                                            <input type="file" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.Blog_Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <b class="control-label col-md-2">Thùng rác</b>
                                        <div class="col-md-12">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.Blog_Trash, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Blog_Trash, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-12">
                                            <input type="submit" value="Thêm mới tin tức" class="btn btn-danger" />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- Input Alignment card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>