@model ShareCode.Models.tblBlog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> tags = new List<string>();
    if(Model.BLog_Tag != null)
    {
        tags = Model.BLog_Tag.Split(';').ToList();
    }
}

<h2>Details</h2>

<div>
    <h4>tblBlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blog_Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog_Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLog_Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLog_Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blog_View)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog_View)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLog_DatePost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLog_DatePost)
        </dd>

        <dt>
            <span>Tag</span>
        </dt>

        <dd>
            @foreach(var itemTag in tags)
            {
                <a href="#">@itemTag</a>
            }
        </dd>

    </dl>
</div>
