@using ShareCode.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<tblBlog>
@{ 

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-4">
    <div class="col-lg-8 most-recent">
        <h3 class="section-title-left">Tin tức mới</h3>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="@Url.Action("Details", "Blogs", new { id = item.BLog_ID})">
                                <img class="card-img-bottom d-block radius-image" src="~/Content/Layout/img/blog/@item.Blog_Image" alt="@item.Blog_Title">
                            </a>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="@Url.Action("Details", "Blogs", new { id = item.BLog_ID})" class="blog-desc">
                                @item.Blog_Title
                            </a>
                            <p>
                                @(item.Blog_Contents.Length > 30 ? item.Blog_Contents.Substring(0, 30) + "..." : item.Blog_Contents)
                            </p>
                            <div class="author align-items-center mt-3 mb-1">
                                <a href="#author">Post by Admin</a>
                            </div>
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> @item.BLog_DatePost.Value.ToLongDateString() </span>
                                </li>
                                <li class="meta-item blog-students">
                                    <span class="meta-value"> @item.Blog_View</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- pagination -->
        <div class="pagination-wrapper mt-5">
            <ul class="page-pagination">
                @*<li><span aria-current="page" class="page-numbers current">1</span></li>
                <li><a class="page-numbers" href="#url">2</a></li>
                <li><a class="page-numbers" href="#url">3</a></li>
                <li><a class="page-numbers" href="#url">4</a></li>
                <li><a class="page-numbers" href="#url">....</a></li>
                <li><a class="page-numbers" href="#url">15</a></li>
                <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>*@
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </ul>
        </div>
        <!-- //pagination -->
    </div>
    @Html.Action("HighlightBlogs", "View")
</div>
@*<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="#">@item.Blog_Title</a>
        </li>
    }
</ul>*@