@using ShareCode.Models;
@model IEnumerable<ShareCode.Models.tblPost>

@{
    ViewBag.Title = "Danh sách code";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    DBShareCodeEntities db = new DBShareCodeEntities();
    DateTime ye = DateTime.Now;
}
@{ 
    List<tblCategory> tblCategory = db.tblCategories.ToList();
    List<tblGenre> tblGenres = db.tblGenres.ToList();
    List<tblGroupCode> tblGroupCodes = db.tblGroupCodes.ToList();
}
<div class="page-body" ng-app="myModule">
    <!-- Basic table card start -->
    <div class="card">
        <div class="card-header">
            <h2>@ViewBag.Title</h2>
            <button class="btn btn-success" onclick="window.location.href='/Admin/tblPostsAdmin/Create'"><i class="fa fa-plus"></i>Thêm code</button>
            <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
        </div>
        <div class="card-block table-border-style" ng-controller="myControllerPost">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-dark">
                        <tr class="font-weight-bold">
                            <td ng-click="sortBy('idp')">Mã code<span class="sortorder" ng-show="propertyName === 'idp'" ng-class="{reverse: reverse}"></span></td>
                            <td>Ảnh</td>
                            <td ng-click="sortBy('name')">Tên<span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span></td>
                            <td ng-click="sortBy('cate')">Danh mục<span class="sortorder" ng-show="propertyName === 'cate'" ng-class="{reverse: reverse}"></span></td>
                            <td ng-click="sortBy('ge')">Thể loại<span class="sortorder" ng-show="propertyName === 'ge'" ng-class="{reverse: reverse}"></span></td>
                            <td ng-click="sortBy('form')">Hình thức<span class="sortorder" ng-show="propertyName === 'form'" ng-class="{reverse: reverse}"></span></td>
                            <td ng-click="sortBy('ac')"><span class="sortorder" ng-show="propertyName === 'ac'" ng-class="{reverse: reverse}"></span>Tình trạng</td>
                            <td ng-click="sortBy('coin')">Xu<span class="sortorder" ng-show="propertyName === 'coin'" ng-class="{reverse: reverse}"></span></td>
                            <td><i class="fa fa-cog">&nbsp;</i></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 100px">
                                <input type="text" class="form-control w-100" placeholder="Mã" ng-model="textSearch.idp" />
                            </td>

                            <td></td>
                            <td>
                                <input type="text" class="form-control" placeholder="Tên code" ng-model="textSearch.name" />
                            </td>
                            <td>
                                <select class="form-control" ng-model="textSearch.cate">
                                    <option value="">Tất cả danh mục</option>
                                    @foreach (var item in tblCategory)
                                    {
                                        <option value="@item.Cat_Name">@item.Cat_Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="textSearch.ge">
                                    <option value="">Tất cả thể loại</option>
                                    @foreach (var item in tblGenres)
                                    {
                                        <option value="@item.Genres_Name">@item.Genres_Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="textSearch.form">
                                    <option value="">Tất cả hình thức</option>
                                    @foreach (var item in tblGroupCodes)
                                    {
                                        <option value="@item.Group_Name">@item.Group_Name</option>
                                    }
                                </select>
                            </td>

                            <td>
                                <select class="form-control" ng-model="textSearch.ac">
                                    <option value="">Tất cả</option>
                                    <option value="true">Đã duyệt</option>
                                    <option value="false">Chưa duyệt</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Xu" ng-model="textSearch.coin" />
                            </td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="todo in filteredTodos | filter:textSearch | orderBy:propertyName:reverse">
                            <td>{{todo.idp}}</td>
                            <td><img style="width: 50px; height: 50px" src="~/Content/Layout/img/post/{{todo.img}}" /></td>
                            <td>{{todo.name}}</td>
                            <td>{{todo.cate}}</td>
                            <td>{{todo.ge}}</td>
                            <td>{{todo.form}}</td>
                            <td>
                                <div class="ui toggle checkbox" ng-if="todo.ac === 'False'">
                                    <input type="checkbox" id="{{ todo.id }}" name="public" onclick="approval(this.id)">
                                    <label></label>
                                </div>
                                <div class="ui toggle checkbox" ng-if="todo.ac === 'True'">
                                    <input type="checkbox" id="{{ todo.id }}" name="public" checked onclick="approval(this.id)">
                                    <label></label>
                                </div>
                            </td>
                            <td>{{todo.coin}}</td>
                            <td>
                                <a target="_blank" href="/Posts/Details/{{todo.id}}"><i class="fa fa-eye"></i></a> |
                                <a href="/Admin/tblPostsAdmin/Edit/{{todo.id}}"><i class="fa fa-edit"></i></a> |
                                <a href="" data-toggle="modal" data-target="#x{{todo.id}}"><i class="fa fa-trash"></i></a>
                                <!-- Modal -->
                                <div class="modal fade" id="x{{todo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{todo.name}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Bạn có chắc muốn xóa code này?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                <a href="/Admin/tblPostsAdmin/DeleteConfirmed/{{todo.id}}" type="button" class="btn btn-primary">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <center>
                    <pagination ng-model="currentPage"
                                total-items="todos.length"
                                max-size="maxSize"
                                boundary-links="true">
                    </pagination>
                </center>
            </div>
        </div>
    </div>
</div>
<script>
var todos = angular.module('myModule', ['ui.bootstrap']);

todos.controller('myControllerPost', function ($scope) {
    $scope.filteredTodos = []
        , $scope.currentPage = 1
        , $scope.numPerPage = 15
        , $scope.maxSize = 5;

    $scope.makeTodos = function () {
        $scope.todos = [
            @foreach (var item in Model.OrderByDescending(n=>n.Post_DateCreate))
            {
                @: { idp: "@Html.Raw(item.Post_Code)", img: "@item.Post_Avata", name: "@Html.Raw(item.Post_Title)", cate: "@item.tblCategory.Cat_Name", form: "@Html.Raw(item.tblGroupCode.Group_Name)", ac: "@item.Post_Active", coin: "@Html.Raw(item.Post_Price)", id: @item.Post_ID, ge: "@Html.Raw(item.tblGenre.Genres_Name)", date: "@item.Post_DateCreate.Value.Date", month: "@item.Post_DateCreate.Value.Month", year: "@item.Post_DateCreate.Value.Year",crdate: "@item.Post_DateCreate" },
            }
        ];

    };
    $scope.makeTodos();

    $scope.$watch('currentPage + numPerPage', function () {
        var begin = (($scope.currentPage - 1) * $scope.numPerPage)
            , end = begin + $scope.numPerPage;

        $scope.filteredTodos = $scope.todos.slice(begin, end);
    });
});
</script>
<script>
    function approval(id) {
        setTimeout(function () {
            $.ajax({
                type: "Post",
                url: "/tblPostsAdmin/ApprovalPost?id=" + id,
                contentType: "Json",
                success: function (result) {
                    if (result) {
                        alert("Đã thay đổi tình trạng!");
                    }
                }
            })
        }, 260)
    }
</script>